#main{
  background-color: rgba(175,177,181,0.4);
  justify-content: center;
  font-family: 'Tangerine' , 'Inconsolata';
  font-size: 2em;
}
#title{
  text-align: center;
}
#image-div{
  background-color: white;
}
#image{
  width: 100%;
}

.timeline{
  padding-left: 3em;
  font-size:1em;
  width: 70%;
  word-spacing:0.3em;
}
